<span ng-controller="formCtrl"><input type="hidden" ng-model="loaded_entity.id"><div class="form-group"><label class="col-sm-2 control-label">NOME</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.nome" name="nome"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">EMAIL</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.email" name="email"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">EMAIL_COMERCIAL</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.email_comercial" name="email_comercial"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">CPF</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.cpf" name="cpf"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">CELULAR</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.celular" name="celular"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">RG</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.rg" name="rg"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">SEXO</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.sexo" name="sexo"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">NASCIMENTO</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.nascimento" name="nascimento"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">ESTADO_CIVIL</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.estado_civil" name="estado_civil"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">PERFIL</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.perfil" name="perfil"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">REGISTRO_EMPRESA</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.registro_empresa" name="registro_empresa"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">SENHA</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.senha" name="senha"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">TIME_CORACAO</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.time_coracao" name="time_coracao"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">TAMANHO_CAMISETA</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.tamanho_camiseta" name="tamanho_camiseta"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">PASSAPORTE</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.passaporte" name="passaporte"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">CONJUGE</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.conjuge" name="conjuge"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">NASCIMENTO_CONJUGE</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.nascimento_conjuge" name="nascimento_conjuge"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">FILHOS</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.filhos" name="filhos"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">QTD_FILHOS</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.qtd_filhos" name="qtd_filhos"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">PET</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.pet" name="pet"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">QTD_PETS</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.qtd_pets" name="qtd_pets"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">PERCENT</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.percent" name="percent"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">VOLUME</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.volume" name="volume"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">TRAINING</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.training" name="training"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">DIST</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.dist" name="dist"></div>
	        </div>
	        <div class="hr-line-dashed"></div><div class="form-group"><label class="col-sm-2 control-label">TIPO_PET</label>
	            <div class="col-sm-10"><input type="text" class="form-control" ng-model="loaded_entity.tipo_pet" name="tipo_pet"></div>
	        </div>
	        <div class="hr-line-dashed"></div>
				<div class="form-group">
				<label class="col-sm-2 control-label"> Group : </label>
				    <div class="col-sm-10">
				    <select class="form-control m-b" name="group_id" ng-model="loaded_entity.group_id">
				        <option ng-repeat="relation in bt[0]  track by relation['name']" value="{{relation.id}}">{{relation.name}}</option>
				    </select>
				    </div>
				</div>
			</span>
				<div class="form-group">
				<label class="col-sm-2 control-label"> Manufacturer : </label>
				    <div class="col-sm-10">
				    <select class="form-control m-b" name="manufacturer_id" ng-model="loaded_entity.manufacturer_id">
				        <option ng-repeat="relation in bt[1]  track by relation['name']" value="{{relation.id}}">{{relation.name}}</option>
				    </select>
				    </div>
				</div>
			</span><input type="hidden" class="form-control" id="pertences" value="group,manufacturer">