
.panel-default > .panel-heading {
    background: $verde-c;
}


.panel-default {
    border: none;
}

.panel-group {
    float: left;
    margin-bottom: 30px;
}

div.panel-heading {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: -1px;
        right: 0px;
        display: block;
        width: 0;
        background: url(/Content/images/icons/bef-barra.png) no-repeat;
        height: 30px;
        width: 70px;
    }

    h4 {
        font-size: 14px;
        color: $branco;
        text-align: left;
        position: relative;
        padding: 8px 18px 8px 0px;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }
}


.icon-up {
    background: url("/Content/images/icons/arrow_select-down.png") no-repeat;
    width: 30px;
    height: 12px;
    position: absolute;
    right: 2px;
    top: 30%;
}

.icon-down {
    background: url("/Content/images/icons/arrow_select-up.png") no-repeat;
    width: 30px;
    height: 12px;
}

.panel-collapse {
    background: $amarelo-acc;
    color: $cinza-b;
}
