

@font-face {
    font-family: 'gochi_handregular';
    src: url('../fonts/gochihand-regular-webfont.eot');
    src: url('../fonts/gochihand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gochihand-regular-webfont.woff2') format('woff2'),
         url('../fonts/gochihand-regular-webfont.woff') format('woff'),
         url('../fonts/gochihand-regular-webfont.ttf') format('truetype'),
         url('../fonts/gochihand-regular-webfont.svg#gochi_handregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proximanova-regular-webfont';
    src: url('../fonts/proximanova-regular-webfont.eot') format('embedded-opentype'), 
        url('../fonts/proximanova-regular-webfont.svg') format('svg'), 
        url('../fonts/proximanova-regular-webfont.ttf') format('truetype'), 
        url('../fonts/proximanova-regular-webfont.woff') format('woff');
}