$header-cor:#375001;
$verde-a: #018a45;
$verde-b: #add400;
$verde-c:#80b54a;
$verde-d:#5bae22;
$verde-tarja:#439600;
$verde-faq:#61b63e;
$branco: #fff;
$cinza:#efefef;
$cinza-b:#a2a2a2;
$amarelo-input:#eeeeb7;
$amarelo-input-txt:#d6d54d;
$font-goch: 'proximanova-regular-webfont';
$amarelo-acc: #e4e38a;



